<?xml version="1.0" encoding="utf-8"?>
<robot name="mirobot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="hw_interface" default="hardware_interface/PositionJointInterface"/>

    <xacro:property name="hw_interface" value="$(arg hw_interface)"/>
    <xacro:property name="prefix" value=""/>

    <link name="base"/>

    <xacro:include filename="$(find mirobot_urdf)/urdf/mirobot_urdf.urdf"/>

    <joint name="base_joint" type="fixed">
        <origin/>
        <parent link="base"/>
        <child link="base_link"/>
    </joint>

    <link name="imu_frame"/>

    <joint name="imu_joint" type="fixed">
        <origin xyz="0.0 0.0 -0.110"/>
        <parent link="link61"/>
        <child link="imu_frame"/>
    </joint>

    <xacro:macro name="transmission" params="prefix joint_name hw_interface">
        <transmission name="${prefix}${joint_name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}${joint_name}">
                <hardwareInterface>${hw_interface}</hardwareInterface>
            </joint>
            <actuator name="${prefix}${joint_name}_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    
    <xacro:transmission prefix="${prefix}" joint_name="Joint1" hw_interface="${hw_interface}"/>
    <xacro:transmission prefix="${prefix}" joint_name="Joint2" hw_interface="${hw_interface}"/>
    <xacro:transmission prefix="${prefix}" joint_name="Joint3" hw_interface="${hw_interface}"/>
    <xacro:transmission prefix="${prefix}" joint_name="Joint4" hw_interface="${hw_interface}"/>
    <xacro:transmission prefix="${prefix}" joint_name="Joint5" hw_interface="${hw_interface}"/>
    <xacro:transmission prefix="${prefix}" joint_name="Joint6" hw_interface="${hw_interface}"/>

</robot>
